body {
    font-family: 'Poppins', sans-serif;
    background-color: #e1e3ea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background {
    position: relative; /* Ensure buttons are positioned relative to this container */
    background-color: #ededed;
    width: 60%;
    max-width: 500px;
    height: 90%;
    max-height: 700px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Ensure the story container is positioned relative */
#story-container {
    position: relative;
}

/* Position back and home buttons at the top left of the story container */
#background img.back-button, 
#background img.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

/* Slightly move the home button to the right of the back button */
#background img.home-button {
    left: 60px; /* Adjust this value to space the buttons apart */
}

/* Hover effect for back and home buttons */
#background img.back-button:hover,
#background img.home-button:hover {
    transform: scale(1.1);
}



#story-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#story-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto 15px auto;
}

#story-text {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
}

#choices {
    margin-top: 20px;
}

#choices button {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d2c1e0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#choices button:hover {
    background-color: #c7a4d6;
}

#restart {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#restart button {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #89bd8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart button:hover {
    background-color: #5a775b;
}

#nav-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; /* Space between buttons */
}

#nav-buttons img {
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

#nav-buttons img:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}
